doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Welcome!
    link(rel="stylesheet", href="/public/styles.css")
  body
    .wrapper
      .main_banner
        p#top_banner 당신을 위한 주소록
    script(src="/public/main.js")
  block main